@font-face {
	font-family: "Century Schoolbook";
	src: url("fonts/SCHLBKBI.TTF");
	font-weight: bold;
	font-style: italic, oblique;
}
@font-face {
	font-family: "Century Schoolbook";
	src: url("fonts/SCHLBKI.TTF");
	font-style: italic, oblique;
}
@font-face {
	font-family: "Century Schoolbook";
	src: url("fonts/SCHLBKB.TTF");
	font-weight: bold;
}
@font-face {
	font-family: "Century Schoolbook";
	src: url("fonts/CENSCBK.TTF");
}

.all {
	background-color: #000080;
	width: 100%;
	margin: 0;
	height: 2000px;
	font-family: "Century Schoolbook";
	color: #E1AD01;
}

.ty {
	position: fixed;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 99;
	transition: 1.5s;
}


@media only screen and (max-width: 600px) {  
	#thankyou {
		margin-top: 120px;
		transition: 1s;
	}
}
@media only screen and (min-width: 600px) {  
	#thankyou {
		margin-top: 120px;
		transition: 1s;
	}
}
@media only screen and (min-width: 768px) {  
	#thankyou {
		margin-top: 120px;
		transition: 1s;
		overflow: hidden;
		white-space: nowrap;
	}
} 
@media only screen and (min-width: 992px) {  
	#thankyou {
		margin-top: 120px;
		transition: 1s;
		overflow: hidden;
		white-space: nowrap;
	}
}
@media only screen and (min-width: 1200px) {
	#thankyou {
		margin-top: 120px;
		transition: 1s;
		overflow: hidden;
		white-space: nowrap;
	}
}
@media only screen and (orientation: landscape) {   
	#thankyou {
		margin-top: 120px;
		transition: 1s;
		overflow: hidden;
		white-space: nowrap;
	}
}

#from, #allofus {
	opacity: 0;
	transition: 1s;
}

#list {
	pointer-events: none;
	color: #fff !important;
	position: fixed;
	top: 20%;
	transition: 1s;
}

#leftdir {
	-webkit-animation: movingleft 300s infinite;
	animation: movingleft 300s infinite;
}

#rightdir {
	-webkit-animation: movingright 300s infinite;
	animation: movingright 300s infinite;
}

@keyframes movingleft {
	from {margin-left: 0px;}
	to {margin-left: -2200px;}
}
@-webkit-keyframes movingleft {
	from {margin-left: 0px;}
	to {margin-left: -2200px;}
}

@keyframes movingright {
	from {margin-left: -2200px;}
	to {margin-left: 0px;}
}
@-webkit-keyframes movingright {
	from {margin-left: -2200px;}
	to {margin-left: 0px;}
}

.listitem {
	font-size: 70px;
	overflow: hidden;
	white-space: nowrap;
}

#quotes {
	width: 80%;
	position: fixed;
	top: 75%;
	left: 50%;
	transition: 1s;
	transform: translate(-50%, 0);
	line-height: 25px;
}