@font-face {
	font-family: "Century Schoolbook";
	src: url("fonts/SCHLBKBI.TTF");
	font-weight: bold;
	font-style: italic, oblique;
}
@font-face {
	font-family: "Century Schoolbook";
	src: url("fonts/SCHLBKI.TTF");
	font-style: italic, oblique;
}
@font-face {
	font-family: "Century Schoolbook";
	src: url("fonts/SCHLBKB.TTF");
	font-weight: bold;
}
@font-face {
	font-family: "Century Schoolbook";
	src: url("fonts/CENSCBK.TTF");
}

* {
	font-family: "Century Schoolbook";
	transition: 0.5s;
}